{% extends '::base.html.twig' %}

{% block body %}
  <div id="page-content-container" class="row">
    <section class="col-xs-12">
    {% block modulecontent %}
        <div class="row">
        </div>
    {% endblock %}
    </section>
  </div>
{% endblock %}
