{% extends '::base.html.twig' %}

{% block body %}
  <div id="page-content-container" class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="well sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
          <li><small class="text-muted">Member Records</small></li>
          <li><a href="{{ path('UMRA_Household') }}"><span class="glyphicon glyphicon-home"></span> Households</a></li>
          <li><a href="{{ path('UMRA_Trans') }}"><span class="glyphicon glyphicon-usd"></span> Transactions</a></li>
          <li><a href="{{ path('UMRA_Photo') }}"><span class="glyphicon glyphicon-picture"></span> Photo</a></li>
          <li><small class="text-muted">UMRA</small></li>
          <li><a href="{{ path('UMRA_Role') }}"><span class="glyphicon glyphicon-cog"></span> Role</a></li>
          <li><a href=""><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </nav><!--/.well -->
      {% block sidebar %}{% endblock %}
    </div>
    <section class="col-sm-9 col-lg-10">
    {% block modulecontent %}
        <div class="row">
        </div>
    {% endblock %}
    </section>
  </div>
{% endblock %}
