{% extends '::base.html.twig' %}

{% block title %}Payment has been canceled.{% endblock %}

{% block body %}
<div id="page-content-container">
    <div class="page-header">
        <h3>Payment has been canceled.</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                PayPal has indicated that the transaction has been canceled and payment will not continue.
            </p>
            <p>
                You may still login to pay for a membership and luncheons at a later date.
            </p>
        </div>
    </div>
</div>
{% endblock %}
