{% extends '::base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div id="page-content-container">
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>

    {% if content_block_key is defined %}
    <div class="row">
        <div class="col-xs-12">
            {{ umra_content(content_block_key) }}
        </div>
    </div>
    {% endif %}

    <h4>Payment Confirmation</h4>

    <p class="lead">
        You may wish to print this page for your records. If you chose to pay by check, you will still need to send in payment to UMRA.
    </p>

    <div class="panel panel-default">
        {% include 'UMRAMemberBundle:Trans:_table.html.twig' with {
            'entities': transactions,
            'show_luncheons': true
        } %}
    </div>
</div>
{% endblock %}
