{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Creating a Transaction</h1>

    {{ form(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('UMRA_Trans') }}" class="btn btn-default">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
