{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Trans creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('UMRA_Trans') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
