{% extends 'UMRAMemberBundle:Default:base.html.twig' %}

{% block body %}
<div class="umnhf" id="mainbody">
	<h1>Become a Member Today!</h1>
	<form action="{{ path('umra_member_homepage') }}" method="post" {{ form_enctype(form) }}>

	{{ form_widget(form) }}
	
	<input type="submit" value="Join Now" />


	</form>
<a href="{{ path('umra_member_homepage') }}">View Members</a>
</div>
{% endblock %}