{% extends 'UMRAMemberBundle:Default:base.html.twig' %}

{% block body %}
<div class="umnhf" id="mainbody">
	<h1>Members!</h1>
	{% for memb in member %}

	<ul>
		
		<li>First Name: {{ memb.firstName }}</li>
		<li>Last Name: {{ memb.lastName }}</li>
		<li>Full Name: {{ memb.fullName }}</li>
	</ul>

	{% endfor %}
<a href=" {{ path('umra_member_joinpage') }}">Join</a>


</div>
{% endblock %}