# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
bin/doctrine*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

#Leave out ACME Stuff
src/ACME/*

#Backup Editor Files
*~

# PHPIntel Sublime Plugin
.phpintel