{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Content Blocks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <a href="{{ path('UMRA_ContentBlock_edit', { 'id': entity.id }) }}" class="btn btn-default">
                        <span class="fa fa-pencil"></span>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
