{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Household edit</h1>

    <div class="col-xs-4">
        {{ form(edit_form) }}

        <hr />

        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="{{ path('UMRA_Household') }}">
                    Back to the list
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
