html, p, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: normal;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	line-height: 1.80556em;
}
html {
	color: #333333;
}
body {
	background-color: #EFEBE2;
}
a {
	color: #900021;
}
#full-page-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fefefe;
}

.sonata-ba-filter .col-xs-3 {
	width: 100%;
}
