#umnhf-h #umnhf-h-logo,
#umnhf-h #umnhf-h-onestop,
#umnhf-h #umnhf-h-myu {
	background: transparent url(http://a.umn.edu/templates/web/responsive/current/img/revised-wordmark-solid.png) 0 0 no-repeat;
	background-size: 410px 159px;
}

#umnhf-h #umnhf-h-myu {
	background-position-x: 0;
	background-position-y: -112px;
	width:72px;
}

#umnhf-h #umnhf-h-onestop {
	background-position-x: -73px;
	background-position-y: -112px;
	width: 72px;
}
