{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Person creation</h1>

    {{ form(form) }}

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household_show', { 'id': household.id }) }}">
                Back to household
            </a>
        </li>
    </ul>
{% endblock %}
