{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    {% block fos_user_content %}
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-warning">
                <header class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </header>
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(changePasswordForm) }} method="POST" class="fos_user_change_password panel-body">
                    {{ form_widget(changePasswordForm) }}
                    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-warning" />
                </form>
            </div>
        </div>
    {% endblock %}
{% endblock %}
