{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    
    {% include 'UMRAMemberBundle:Person:detail.html.twig' %}

    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('UMRA_Household_show', { id: entity.household.id }) }}">
                Back to household
            </a>
        </li>
        {% if is_granted('ROLE_CAN_EDIT_OTHER_PERSON') %}
        <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}
