{% extends 'UMRAMemberBundle::nav.html.twig' %}

{% block modulecontent -%}
    <h1>Email creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('UMRA_Email', {'personId' : personId}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
