{% extends '::base.html.twig' %}

{% block title %}Thanks for registering!{% endblock %}

{% block body %}
<div id="page-content-container">
	<div class="page-header">
		<h3>Thanks for registering!</h3>
	</div>
	<p class="lead"></p>
	<p></p>
</div>
{% endblock %}