{% extends '::base.html.twig' %}

{% block title %}An error occurred during registration{% endblock %}

{% block body %}
<div id="page-content-container">
    <div class="page-header">
        <h3>An error occurred during registration!</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                We encountered an error when attempting to start the payment process with PayPal.
            </p>
            <p>
                Your account has been created. You should have received an email with a link to set your password.
                You may still login to pay for a membership and luncheons at a later time.
            </p>
        </div>
    </div>
</div>
{% endblock %}
