{% extends '::base.html.twig' %}

{% block title %}Thanks for renewing!{% endblock %}

{% block body %}
<div id="page-content-container">
    <div class="page-header">
        <h3>Thanks for renewing!</h3>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ umra_content('renewal.complete') }}
        </div>
    </div>

    <h4>Payment Confirmation</h4>

    <div class="panel panel-default">
        {% include 'UMRAMemberBundle:Trans:_table.html.twig' with {
            'entities': transactions,
            'show_luncheons': true
        } %}
    </div>
</div>
{% endblock %}
